@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

.gr-1 {
    background: linear-gradient(170deg, #01E4F8 0%, #1D3EDE 100%);
}

.gr-2 {
    background: linear-gradient(170deg, #B4EC51 0%, #429321 100%);
}

.gr-3 {
    background: linear-gradient(170deg, #C86DD7 0%, #3023AE 100%);
}

.gr-4 {
    background: linear-gradient(170deg, #df8b0e 0%, #e0421a 100%);
}
* {
    transition: 0.5s;
}

.h-100 {
    height: 100vh !important;
}

.align-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.column {
    margin-top: 3rem;
    padding-left: 3rem;
    height: 110%;
}

.column:hover {
    padding-left: 0;
}

.column:hover .card .txt {
    margin-left: 1rem;
}

.column:hover .card .txt h1,
.column:hover .card .txt p {
    color: white;
    opacity: 1;
}

.column:hover a {
    color: white;
}

.column:hover a:after {
    width: 10%;
}

.card {
    min-height: 170px;
    margin: 0;
    padding: 1.7rem 1.2rem;
    border: none;
    border-radius: 0;
    color: black;
    letter-spacing: 0.05rem;
    font-family: 'Oswald', sans-serif;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
}

.card .txt {
    margin-left: -3rem;
    z-index: 1;
}

.card .txt h1 {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
}

.card .txt p {
    font-size: 0.7rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0rem;
    margin-top: 33px;
    opacity: 0;
    color: white;
}

.card a {
    z-index: 3;
    font-size: 0.7rem;
    color: black;
    margin-left: 1rem;
    position: relative;
    bottom: -0.5rem;
    text-transform: uppercase;
}

.card a:after {
    content: "";
    height: 0.5em;
    width: 0;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid white;
    transition: 0.5s;
}

.card .ico-card {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ico-card i {
    position: relative;
    right: -50%;
    top: 60%;
    font-size: 12rem;
    line-height: 0;
    opacity: 0.2;
    color: white;
    z-index: 0;
}


/********************************************************************************/

/* reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* block-$ */

.block-effect {
    font-size: calc(8px + 6vw);
}

.block-reveal {
    --t: calc(var(--td) + var(--d));

    color: transparent;
    padding: 4px;
    margin-top: 12px;
    margin-bottom: 12px;

    position: relative;
    overflow: hidden;

    animation: revealBlock 0s var(--t) forwards;    
}

.block-reveal:hover:after {
    content: '';

    width: 0%;
    height: 100%;
    padding-bottom: 4px;

    position: absolute;
    top: 0;
    left: 0;

    background: var(--bc);
    animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}


/* animations */
@keyframes revealBlock {
    100% {
        color: #0f0f0f;
    }
}

@keyframes revealingIn {

    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes revealingOut {

    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }

}

/********************************************************************************/

.timeline {
    position: relative;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
    color: #ffffff;
}

.timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    border-right: 2px dashed #c4d2e2;
    height: 100%;
    display: block;
}

.timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
}

.timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 31px;
    text-align: right;
    margin-right: 20px;
    color: #000000;
    font-size: 1.5rem;
}

.timeline-row .timeline-time small {
    display: block;
    font-size: .8rem;
    color: #8796af;
}

.timeline-row .timeline-content {
    position: relative;
    padding: 20px 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.timeline-row .timeline-content:after {
    content: "";
    position: absolute;
    top: 20px;
    height: 3px;
    width: 40px;
}

.timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -50px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 100;
    background: #ffffff;
    border: 2px dashed #c4d2e2;
}

.timeline-row .timeline-content h4 {
    margin: 0 0 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 150%;
}

.timeline-row .timeline-content p {
    margin-bottom: 30px;
    line-height: 150%;
}

.timeline-row .timeline-content i {
    font-size: 2rem;
    color: #ffffff;
    line-height: 100%;
    padding: 10px;
    border: 2px solid #ffffff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    display: inline-block;
}

.timeline-row .timeline-content .thumbs {
    margin-bottom: 20px;
}

.timeline-row .timeline-content .thumbs img {
    margin-bottom: 10px;
}

.timeline-row:nth-child(even) .timeline-content {
    background-color: linear-gradient(170deg, #B4EC51 0%, #429321 100%);
    /* Fallback Color */
    /* Opera 11.10+ */
    background-image: linear-gradient(170deg, #B4EC51 0%, #429321 100%);
    margin-left: 40px;
    text-align: left;
}

.timeline-row:nth-child(even) .timeline-content:after {
    left: -39px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.timeline-row:nth-child(even) .timeline-content:before {
    left: -50px;
    right: initial;
}

.timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}

.timeline-row:nth-child(odd) .timeline-content {
    background-color: linear-gradient(170deg, #C86DD7 0%, #3023AE 100%);
    /* Opera 11.10+ */
    background-image: linear-gradient(170deg, #C86DD7 0%, #3023AE 100%);
    margin-right: 40px;
    margin-left: 0;
    text-align: right;
}

.timeline-row:nth-child(odd) .timeline-content:after {
    right: -39px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

@media (max-width: 767px) {
    .timeline {
        padding: 15px 10px;
    }

    .timeline:after {
        left: 28px;
    }

    .timeline .timeline-row {
        padding-left: 0;
        margin-bottom: 16px;
    }

    .timeline .timeline-row .timeline-time {
        position: relative;
        right: auto;
        top: 0;
        text-align: left;
        margin: 0 0 6px 56px;
    }

    .timeline .timeline-row .timeline-time strong {
        display: inline-block;
        margin-right: 10px;
    }

    .timeline .timeline-row .timeline-icon {
        top: 52px;
        left: -2px;
        margin-left: 0;
    }

    .timeline .timeline-row .timeline-content {
        padding: 15px;
        margin-left: 56px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        position: relative;
    }

    .timeline .timeline-row .timeline-content:after {
        right: auto;
        left: -39px;
        top: 32px;
    }

    .timeline .timeline-row:nth-child(odd) {
        padding-right: 0;
    }

    .timeline .timeline-row:nth-child(odd) .timeline-time {
        position: relative;
        right: auto;
        left: auto;
        top: 0;
        text-align: left;
        margin: 0 0 6px 56px;
    }

    .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin-right: 0;
        margin-left: 55px;
    }

    .timeline .timeline-row:nth-child(odd) .timeline-content:after {
        right: auto;
        left: -39px;
        top: 32px;
        border-right: 18px solid #ffffff00;
        border-left: inherit;
    }

    .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
        left: 20px;
    }

    .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
        left: 0;
    }
}


/********************************************************************************/
.card-custom {
    overflow: hidden;
    min-height: 450px;
    border: 0;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
    height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
    position: absolute;
    content: '';
    top: 161px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 40px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 545px;
    border-left-width: calc(575px - 5vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
}

.card-custom-avatar img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    position: absolute;
    top: 100px;
    left: 1.25rem;
    width: 100px;
    height: 100px;
}

/********************************************************************************/
.card-counter {
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
}

.card-counter:hover {
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
}

.card-counter.primary {
    background-color: #007bff;
    color: #FFF;
}

.card-counter.light {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.card-counter.danger {
    background-color: #ef5350;
    color: #FFF;
}

.card-counter.success {
    background-color: #66bb6a;
    color: #FFF;
}

.card-counter.info {
    background-color: #26c6da;
    color: #FFF;
}
.card-counter.warning {
    background-color: #ebc20f;
    color: #FFF;
}

.card-counter.dark {
    background-color: #24231f;
    color: #FFF;
}

.card-counter i {
    font-size: 5em;
    opacity: 0.2;
}

.card-counter .count-numbers {
    position: absolute;
    right: 35px;
    top: 10px;
    font-size: 32px;
    display: block;
}

.card-counter .count-name {
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
}

.card-counter img {
    position: absolute;
    bottom: 10%;
    left: 15%;
}



.header, footer {
    background-color: #00d2ff;
    background-image: linear-gradient(170deg, #474747 0%, #0e0f0f 100%);
}

.btn-primary-outline {
    background-color: transparent;
    border-color: #ccc;
    color: white;
}